@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--color-bg: #fafafe;
	--color-fg: black;
	--color-orange: #f9a109;
	--color-red: #eb5757;
	--color-bage: #fff0de;
}

/* @media (prefers-color-scheme: dark) {
	:root {
	}
} */

body {
	margin: 0;
	padding: 0;
	top: 0;
	left: 0;
	background-color: var(--color-bg);
	color: var(--color-fg);
}
