/* w-[6px] h-full rounded-se-[4px] rounded-ee-[4px] absolute inset-y-0 left-0 bg-orange-300 */
.list__item {
	position: relative;
	height: 48px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all ease-in-out 0.5s;
}

.item__index {
	width: 6px;
	height: 100%;
	border-radius: 0 4px 4px 0;
	position: absolute;
	left: 0;
	top: 0;

	background-color: var(--color-orange) !important;
	transition: 0.3s ease-in all;
}
.item__active {
	opacity: 1;
	transition: 0.3s ease-out all;
}

.item__notactive {
	opacity: 0;
	transition: 0.3s ease-out all;
}
.item__desc {
	--color-desc-bg: #454545;

	opacity: 0;

	position: absolute;
	padding: 5px 15px;
	top: 25%;
	left: 75%;

	font-size: 12px;
	line-height: 15px;
	font-weight: 500;

	border-radius: 4px;
	text-align: left;

	background-color: var(--color-desc-bg);
	color: white;
	transition: ease-out 0.3s all;
}

.item__desc::before {
	content: "";

	position: absolute;
	top: 33%;
	left: -2.5px;

	margin: 0;

	width: 10px;
	height: 10px;
	border-top-left-radius: 30%;
	transform: rotate(-30deg) skewX(30deg);
	background-color: var(--color-desc-bg);
}

.list__item:hover .item__desc {
	opacity: 1;
	transition: all ease-in 0.3s;
}

.list__button {
	position: relative;
	width: 42px;
	height: 42px;
	background-color: var(--color-orange) !important;
	border-radius: 9999px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
}

.list__badge {
	top: -3px;
	right: -3px;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;

	width: 20px;
	height: 20px;

	border-radius: 4px;

	background-color: var(--color-red) !important;

	font-weight: 500;
	font-size: 12px;
	line-height: 15px;
}
